{{ define "main" }}
<div id="content">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
</div>

{{ if .Params.tags }}
<div id="tags">
  <h1>Tags :</h1>
  {{range .Params.tags}}
  <a href="{{ " tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
  {{end}}
</div>
{{end}}

<div id="disqus_thread"></div>

<script type="text/javascript">

  (function () {
    // Don't ever inject Disqus on localhost--it creates unwanted
    // discussions from 'localhost:1313' on your Disqus account...
    if (window.location.hostname == "localhost")
      return;

    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    var disqus_shortname = '{{ .Site.DisqusShortname }}';
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>
  Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"> comments powered by Disqus.</a>
</noscript>
<a href="https://disqus.com/" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<script src="https://cdn.jsdelivr.net/gh/aFarkas/lazysizes/lazysizes.min.js"></script>
{{ end }}